<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="vehiculo">
    <select id="buscarPorUsuario" parameterType="map" resultType="fei.vehicleservice.model.pojos.vehiculo">
        SELECT idVehiculo, idUsuario, claveVehiculo, idMarca, marca,
        idModelo, modelo, placa, color, anio, descripcion,
        estatus FROM vehiculofullinfo WHERE idUsuario = #{idUsuario};
    </select>
    
    
    <select id="vehiculoDeUsuario" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM vehiculo WHERE idVehiculo = #{idVehiculo} AND idUsuario = #{idUsuario};
    </select>
    <select id="existePlaca" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM vehiculo WHERE placa = #{placa};
    </select>
    <select id="placaRepetida" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM vehiculo where placa = #{placa} AND idVehiculo != #{idVehiculo};
    </select>
    <select id="vehiculosActivos" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM vehiculo WHERE idUsuario = #{idUsuario} AND estatus =1;
    </select>
    
    <insert id="registrarV" parameterType="map">
        INSERT INTO vehiculo(idUsuario, claveVehiculo, idModelo, placa, color, anio, descripcion, estatus)
        VALUES (#{idUsuario},#{claveVehiculo},#{idModelo}, #{placa}, #{color}, #{anio}, #{descripcion},1);
    </insert>
    
   
    <update id="editarV" parameterType="map">
        UPDATE vehiculo SET idModelo = #{idModelo}, placa = #{placa}, color = #{color}, anio = #{anio},
        descripcion = #{descripcion} WHERE idVehiculo = #{idVehiculo} AND idUsuario = #{idUsuario};
    </update>
    
    <update id="cambiarEstatus" parameterType="map">
        UPDATE vehiculo SET estatus = #{estatus} WHERE idVehiculo = #{idVehiculo} AND idUsuario = #{idUsuario};
    </update>
	
</mapper>
